.table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.table th,
.table td {
  padding: 8px;
}

.table th {
    text-align: center;
}

a {
  text-decoration: none;
  color: #bd0505;
  transition: color .4s ease;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: #831717;
}
a:hover {
  text-decoration: none;
  color: #f43535;
}
a:active {
  text-decoration: none;
}


ul.footer-nav {
    list-style-type:none;
    padding:10;
}
ul.footer-nav li {
    display:inline;
    margin-right: 5%;
}
ul.footer-nav li {
    display:inline;
    margin-right: 5%;
    font-size: 20px;
}


.home-p a b{
    vertical-align: bottom;    
}

.table-header {
  margin: 0px 0px 4px 0px;
  padding: 4px 0px 7px 0px;
}

.inspection-data ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.inspection-data li {
  display: inherit;
  margin: 0px;
  padding: 0px;
}

.risk-high {
  color: #c43108;
}
.risk-medium {
  color: #d77905;
}
.risk-low {
  color: #63db0e;
}

.not-displayed {
  display: none;
}

.highlight {
  background-color: #FFFB00;
}
.floatleft {
  float: left;
  margin: 0;
  padding: 0px 15px 0px 15px;
}
.clear {
  clear: both;
}
.not-found {
  font-size: 150px;
  margin-top: 60px;
  margin-bottom: 60px;
  text-shadow: 4px 4px #686262;
}
a.title-link {
  color: inherit;
}
i.icon-right {
  float: right;
  opacity: 0.7;
}
i.i-icon {
  font-size: 30px;
  vertical-align: -30%;
}

#map {
  height: 100%;
  width: 100%;
}
.inside-map {
  position: relative;
  z-index: 1;
  background: #ffffff;
  padding: 10px;
  opacity: .95;
}
#main-text {
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
}
#main-text .lead {
  font-size: 13px;
}
#map-footnotes {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25%;
}
button.ui-button {
  position: absolute;
}
button.ui-button-right {
  top: 0;
  right: 0;
}
button.ui-button-left {
  position: absolute;
  top: 0;
  left: 0;
}
.navbar .brand {
    margin-left: 20px;    
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  .shrinking-title {
    font-size: 22px;
  }
  #inspection-data {
    width: 100%;
  }
  #inspection-data tr,
  td {
    display: block;
  }
}
@media only screen and (max-width: 729px) {
  ul.footer-nav li{
    display: block;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2px;
    margin-bottom: 10px;
    width: 100%;
  }
}
