{% extends "base.html" %}

{% block navigation_bar %}
{% endblock navigation_bar %}

{% block content %}

<style>
body {
    padding: 0;
    margin: 0;
}

div.navbar.navbar-fixed-top {
    margin: 0;
    padding: 0;    
}
html, body, #map {
    height: 100%;
    width: 100%;
}

.inside-map {
  position: relative;
  z-index: 1;
  background: #ffffff;
  padding: 10px;
  opacity: .95;
}
#main-text {
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
}
#main-text .lead {
  font-size: 13px;
}

button.ui-button {
  position: absolute;
}
button.ui-button-right {
  top: 0;
  right: 0;
}
button.ui-button-left {
  position: absolute;
  top: 0;
  left: 0;
}
.home-p a b{
    vertical-align: bottom;    
}
#looking {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
  height: 20%;
  margin-top: -150px;
  margin-left: -150px;
  opacity: .8;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
}

#map-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
#map-footer ul li{
    display: inline;
    margin-left: .5%;
    font-size: 20px;
    margin-right: 100px;
}
#map-footer p{
    margin-left: .5%;
    margin-right: 15px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0px;
}

#near-you {
    font-size: 15px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
body {
    font-size: 10px;    
}
#main-text .lead{
    font-size: 11px;
    line-height: 12px;

}

#map-footer {
    position: fixed;
    left: 0;
    bottom: 0;
}

#map-footer ul li{
    display: inline;
    margin-left: 0px;
    font-size: 80%;
    margin-right: 20px;
}
#map-footer p{
    width: 100%;
    font-size: 50%;
    line-height: 1px;
}

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
    
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
</style>

  <div class="navbar navbar-fixed-top inside-map">
    <div class="navbar-inner">
      <a class="brand" href="{{ url_for('home_blueprint.show_home') }}">Chicago Food Inspections</a>
      <ul class="nav">
        <li>
          <form style="margin: 4px;" class="" action="{{ url_for('search_blueprint.search') }}" method="post">
              <div class="input-append">
                <input placeholder="i.e. Burger King"  name="main-data" class="span6" autocomplete='on' id="appendedInputButton" type="text">
                <button class="btn btn-danger" type="submit">Search</button>
              </div>
          </form>
        </li>
        <li>
            <small>In the last month, <a href="/inspections#passed"><b>{{ passed }}</b></a> establishments passed and <a href="inspections#failed"><b>{{ failed }}</b></a> failed!</small>
        </li>
      </ul>
    </div>
  </div>
  <div class="navbar-padding visible-phone"></div>

<div id="map">

    <div id="looking" class="inside-map hidden-phone">
        <h4 class="text-center">Looking for you...</h4>
        
        <script>
            var spinner = new Spinner({color:'#000', lines: 10, radius: 20, shadow: true, length: 10, top:'40px',left:'auto'}).spin(document.getElementById("looking"));
        </script>
        
    </div>

    <div class="visible-phone" id="looking-mobile">
    
    </div>

    <div id="map-footer" class="inside-map">
        <ul>
            <li>
                <a href="{{ url_for('inspection_blueprint.inspection_data') }}">Latest Inspections</a>
            </li>

            <li>
                <a href="{{ url_for('violations_blueprint.show_violations') }}">Violations Legend</a>
            </li>

            <li>
                <a href="{{ url_for('resources_blueprint.show_resources') }}">About this app</a>
            </li>
            <li>
                <a href="mailto:hola@vivelohoy.com">Have some feedback?</a>
            </li>
        </ul>

        <p>
            Developed by Hoy Publications LLC.
        </p>
    </div>
</div>



<link href="{{ url_for('static', filename='css/searchtemplate.min.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
 <!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" />
 <![endif]-->
<script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>

<script>

var user;
var names_data;
var mainMap = L.map('map').setView([41.8500, -87.6500],13); // Chicago coordinates

var osmUrl = 'http://{s}.tile.cloudmade.com/96843c61d97c48e9b100508c96fb01cb/997/256/{z}/{x}/{y}.png'
L.tileLayer( osmUrl, {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
    maxZoom: 18
}).addTo(mainMap);

getLocation();

var marker_template = _.template('<a href="/facility/<%= facility.url_name %>"><p><%= facility.label %>')

function noLocationData(e){
    console.log('Pop up here');
    $('#looking').remove();
}

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(returnDataSquare, noLocationData);
    }
    else{
        console.log('Geolocation not Supported.');
    }
};

function returnDataSquare(data){
    coor_data = data['coords']
    user = {'lat': coor_data['latitude'],'lon': coor_data['longitude']};
    $('#looking').remove();

    var x = user.lat;
    var y = user.lon;
    var k = .005;
    var topRight = {'lat': x + k, 'lon': y + k};
    var topLeft = {'lat': x + k, 'lon': y - k};
    var bottomRight = {'lat': x - k, 'lon': y + k};
    var bottomLeft = {'lat': x - k, 'lon': y - k};
    
    /*
    var t = L.marker([topRight.lat, topRight.lon]).addTo(mainMap).bindPopup('Top Right').openPopup();
    t = L.marker([topLeft.lat, topLeft.lon]).addTo(mainMap).bindPopup('Top Left').openPopup();
    t = L.marker([bottomRight.lat, bottomRight.lon]).addTo(mainMap).bindPopup('Bottom Right').openPopup();
    t = L.marker([bottomLeft.lat, bottomLeft.lon]).addTo(mainMap).bindPopup('Bottom Left').openPopup();
    */

    var filters = [{"name":"latitude","op":"le","val":topRight.lat},{"name":"latitude","op":"ge","val":bottomRight.lat},{"name":"longitude","op":"ge","val":bottomLeft.lon},{"name":"longitude","op":"le","val":bottomRight.lon}
]
    $.ajax({
      url: '/api/facility_names',
      data: {"q": JSON.stringify({"filters": filters})},
      dataType: "json",
      contentType: "application/json",
      success: function(response_data) {
        names_data = response_data['objects'];
        
        _.each(names_data, function(facility){
            facility['value'] = facility['facility_name'];
            facility['label'] = facility['facility_name'] + ' » ' + facility['address'];
            delete facility['facility_name'];
            var marker = L.marker([facility['latitude'],facility['longitude']]).addTo(mainMap);
            marker.bindPopup(marker_template({facility:facility}))
            delete facility['latitude'];
            delete facility['longitude']
        });

        $( "#appendedInputButton" ).autocomplete({
            source: names_data
        });
      }

    });

    mainMap.setView([user['lat'], user['lon']], 16);
}

</script>

<script>
    $('.ui-button').click(function(){
       $(this).parent().css('display', 'none');
    });
</script>
{% block footer %}{% endblock %}

{% endblock content %}
