{% extends "base.html" %}

{% block navigation_bar  %} {% endblock navigation_bar  %}

{% block content %}

<div id="footer" class="container">
    <h1>Chicago Food Inspections</h1>

    <form class="form-search" action="{{ url_for('search_blueprint.search') }}" method="post">
        <div id="home-search">
            <div class="input-append">
                <div class="span4" ></div>
                <input autofocus placeholder="Search by name, keyword or zipcode..."  name="main-data"  class="span4" id="appendedInputButton" type="text">
                <button class="btn btn-danger" type="submit">Search</button>
            </div>
        </div>
    </form>
    <div id="home-p">
        <p class="lead">There have been {{ total }} food inspections in total since January 1, 2010. In the last week, <a href="/inspections#passed"><i class="i-icon">{{ passed }}</i></a> establishments passed, and <a href="inspections#failed"><i class="i-icon">{{ failed }}</i></a> failed!</p>

    </div>

</div>



<link href="{{ url_for('static', filename='css/searchtemplate.min.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
<script>

$(document).ready(function(){
    $.get('api/branch_names', function(data) {
        data = data['objects'];
        _.each(data, function(branch){
            branch['label'] = branch['branch_name'];
            delete branch['branch_name'];
        });
        var availableNames = data;
        $( "#appendedInputButton" ).autocomplete({
            source: availableNames 
        });

    });
});
</script>

{% include "footer.html" %}
{% endblock content %}
