{
    "objects":[{% for inspection in inspections %}
        {
                "inspection_id": {{ inspection.inspection_id }},
                "results": "{{ inspection.results }}",
                "inspection_date": "{{ inspection.inspection_date }}",
                "risk": "{{ inspection.risk }}",
                "lat": {{ inspection.facilities.latitude or 0 }},
                "lon": {{ inspection.facilities.longitude or 0 }},
                "facility_id": "{{ inspection.facility_id }}"
        }{% if not loop.last %},{% endif %}{% endfor %}
    ]
}
