{
    "objects":[{% for inspection in inspections %}
        {
                "inspection_id": {{ inspection.inspection_id }},
                "results": "{{ inspection.results }}",
                "inspection_date": "{{ inspection.inspection_date }}",
                "facility_id": "{{ inspection.facility_id }}",
                "address": "{{ inspection.facilities.address }}",
                "facility_url_name": "{{ inspection.facility_url_name }}"
        }{% if not loop.last %},{% endif %}{% endfor %}
    ]
}
