

{% extends "base.html" %}
{% block content %}

<table  id="inspection-data" class="table table-bordered table-striped table-condensed">
	<caption class="table-header"><h1>Food Inspections</h1></caption>
	<thead>
		<tr>
	    <th>Restaurant Name 
	      <div class="btn-toolbar">
	        <div class="btn-group">
	          <button data-sorting="facility_id" data-sort-style="asc" class="btn btn-mini btn-sort">⬆</button>
	          <button data-sorting="facility_id" data-sort-style="desc" class="btn btn-mini btn-sort">⬇</button>
	        </div>
	      </div>
	    </th>
	    <th>Risk Level
	      <div class="btn-toolbar">
	        <div class="btn-group">
	          <button data-sorting="risk" data-sort-style="asc" class="btn btn-mini btn-sort">⬆</button>
	          <button data-sorting="risk" data-sort-style="desc" class="btn btn-mini btn-sort">⬇</button>
	        </div>
	      </div>
	    </th>
	    <th>Inspection Date
	      <div class="btn-toolbar">
	        <div class="btn-group">
	          <button data-sorting="inspection_date" data-sort-style="asc" class="btn btn-mini btn-sort">⬆</button>
	          <button data-sorting="inspection_date" data-sort-style="desc" class="btn btn-mini btn-sort">⬇</button>
	        </div>
	      </div>
	    </th>
	    <th>Results
	      <div class="btn-toolbar">
	        <div class="btn-group">
	          <button data-sorting="results" data-sort-style="asc" class="btn btn-mini btn-sort">⬆</button>
	          <button data-sorting="results" data-sort-style="desc" class="btn btn-mini btn-sort">⬇</button>
	        </div>
	      </div>
	    </th>
	  </tr>
	</thead>
	<tbody id="table-body">
		
	</tbody>
</table>



<script type="text/template" id="inspection-record">
	<tr>
      <td><a class="inspection-link" href="http://localhost:5000/inspections/<%= inspection.inspection_id %>" ><%= inspection.facility_id %></a></td>
      <td><%= inspection.risk %></td>
      <td><%= inspection.inspection_date.replace('T00:00:00', '') %></td>
      <td><%= inspection.results %></td>
    </tr>
</script>

<script>
    var spinner = new Spinner({color:'#000', lines: 10, radius: 20, shadow: true, length: 10, top:'100px',left:'auto'}).spin(document.getElementById("table-body"));
	var Inspection = Backbone.Model.extend({
	
	});
	
	var Inspections = Backbone.Collection.extend({
	    url:'http://localhost:5000/api/inspection?q={"order_by":[{"field":"inspection_date","direction":"desc"}],"limit":50}',
	    model:Inspection, 
	    parse: function(response){
	    	response = response.objects;
	    	
		    return response;
	    }
	});
	var InspectionRecordView = Backbone.View.extend({
		model: Inspection,
		el: $("#table-body"),
		template: _.template($('#inspection-record').html()),
		render: function(){
			this.$el.append( this.template({inspection: this.model.toJSON()}) );
		}
	});
	var InspectionTable = Backbone.View.extend({
		el: $('#inspection-data'),
		collection: Inspections,
		render: function(){
			var that = this;
			$("#table-body").empty();
			this.collection.each(function(inspection){
				var inspectionToAdd = new Inspection(inspection.toJSON());
				var inspectionView = new InspectionRecordView({model: inspectionToAdd})
				inspectionView.render();
				that.$el.append( inspectionView.$el );

			});
			this.$el.append('</tbody></table>');
			return this; 
        },
	    sortByDataStar: function(targeted){
			var sortingStyle = targeted.target.attributes["data-sorting"].value;

			var inspections = this.collection.toJSON();
			var sorted = _.sortBy(inspections, function(inspection){
			return inspection[sortingStyle];

			});
			
			if (targeted.target.attributes["data-sort-style"].value == "desc"){
			sorted = sorted.reverse();
			}
			var that = this;
			$("#table-body").empty();
			_.each(sorted, function(inspection){
				var inspectionToAdd = new Inspection(inspection);
				var inspectionView = new InspectionRecordView({model: inspectionToAdd})
				inspectionView.render();
				that.$el.append( inspectionView.$el );

			});
			this.$el.append('</tbody></table>');

		      this.trigger("sort");
		      return this;				    
		},
		events: {
	        "click .btn-sort": "sortByDataStar",
		}
	});
	
	var inspections_table;
    var inspections = new Inspections();
	
	inspections.fetch({
  	    success: function(response){
    	    inspections_table = new InspectionTable({collection: inspections});
    	    inspections_table.render();
        }  
    });

</script>

</div>

{% endblock content %}
