{% extends "single.html" %}
{% import 'macros.html' as macros with context %}
{% block single_content %}
	<h4 class="text-center">{{ inspection.facility_id }}</h4>
	<h5 class="text-center">{{ inspection.facilities.address }}</h5>
    <p class="text-center"><span class="label
        {% if inspection.risk == 'Risk 1 (High)' %}
        label-important
        {% elif inspection.risk == 'Risk 2 (Medium)' %}
        label-warning
        {% elif inspection.risk == 'Risk 3 (Low)' %}
        label-success
        {% endif %}
      ">{{ inspection.risk }}</span>
    </p>

    {{ macros.inspection(inspection, i) }}


    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>		

{% endblock single_content %}
