{% extends "single.html" %}
{% import 'macros.html' as macros with context %}
{% block single_content %}
	<h1>{{ inspection.facility_id }}</h1>
	<h3>{{ inspection.facilities.address }}, {{ inspection.facilities.city }}, {{ inspection.facilities.state }}, {{ inspection.facilities.zip }}</h3>
    
    {{ macros.inspection_info(inspection) }}

    {{ macros.inspection_comments(inspection.comments) }}

    {{ macros.violations(inspection.violations) }}


    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script>			
        $(document).ready(function(){
            $("#about-inspection-type").hover(
              function(){ 
                $(this).popover();
              }
            );
            
            $("#about-facility-type").hover(
              function(){ 
                $(this).popover();
              }
            );
        });	    
    </script>

{% endblock single_content %}
