{% extends "single.html" %}

{% import 'macros.html' as macros with context %}
{% block single_content %}
<header>
  <h2>{{ branch.branch_name }}</h2>
</header>  
	
{% for facility in branch.facilities %}
<h4>{{ facility.address }}</h4>
{% for inspection in facility.inspections|sort(reverse=True, attribute='inspection_date') %}
<div class="accordion" id="{{ loop.index }}">
{{ macros.inspection(inspection, loop.index) }}
 </div>
{% endfor %}
{% endfor %}
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

{% endblock single_content %}
