<!DOCTYPE html>
<html>
<head>
{% block header %} {% include "header.html" %} {% include "js-header.html" %}  {% endblock %}

{% block analytics %}

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-42196107-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

{% endblock %}

</head>
<body>

{% block navigation_bar %} {% include "nav-bar.html" %} {% endblock navigation_bar %}

{% block content %} {% endblock content %}

{% block footer %} {% include 'footer.html' %} {% endblock footer %}

</body>
</html>
