<div id="footer" class="container">
    <div class="floatleft">
            <h2>Violations</h2>
            <p><i>See what the city of Chicago considers violations and a list of restaurants who violated them.</i></p>

    </div>

    <div class="floatleft">
        <h2>Resources</h2>
        <p><i>Find out more about the data and how the app works</i></p>
    </div>

    <div class="floatleft">
            <h2>Inspections</h2>
            <p><i>See the latests food inspections in Chicago and their results.</i></p>

    </div>

    <div class="clear"></div>
</div>
