{% macro inspection_info(inspection, i=1) -%}

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion{{i}}" href="#collapse{{i}}">
            <p>Inspection Results: {{ inspection.results }}
                {% if inspection.results == "Pass" %}
                    <i class="icon-thumbs-up"></i>
                {% elif inspection.results == "Fail" %}
                  <i class="icon-thumbs-down"></i>
                {% endif %}
            </p>
          </a>
        </div>
        <div id="collapse{{i}}" class="accordion-body collapse {% if i == 1 %}in{% endif %}">
          <div class="accordion-inner">
            <ul class="inspection-data">
              <li><p>Inspection Type: {{ inspection.inspection_type }}</p></li>
              <li><p>Inspection Date: {{ inspection.inspection_date.date() }}</p></li>
              <li><p>Facility Type: {{ inspection.facilities.facility_type }} <a id="about-facility-type" rel="popover" data-content="Information About this facility type  Information About this facility type" data-facility-type="{{ inspection.facilities.facility_type }}" data-trigger="hover click" data-original-title="Facility Type Title" data-placement="right"><i class="icon-info-sign"></i></a></p></li>
            </ul>
          </div>
        </div>
      </div>

{%- endmacro %}

{% macro inspection_comments(comments, i=1) -%}



  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion{{i}}" href="#collapseComments{{i}}">
        Comments
      </a>
    </div>
    <div id="collapseComments{{i}}" class="accordion-body collapse{% if i == 1 %}in{% endif %}">
      <div class="accordion-inner">
          <ul class="inspection-data">
              {% if comments|length > 0 %}
              {% for comment in comments %}
              <li><p>{{ comment.comment }}</p></li>
              {% endfor %}
              {% else %}
              <li><p>No Comments.</p></li>
              {% endif %}
          </ul>
      </div>
    </div>
  </div>

{%- endmacro %}

{% macro violations(violations, i=1) -%}
    <div class="container" id="violations-container{{i}}">
      <ul class="nav nav-tabs">
        <li class="level active"><a data-level="#Critical{{i}}"><span id="tallyCritical{{i}}" class="badge badge-important"></span> Critical Violations</a></li>
          
        <li class="level"><a data-level="#Serious{{i}}" ><span id="tallySerious{{i}}" class="badge badge-warning"></span> Serious Violations</a></li>
        
        <li class="level"><a data-level="#Minor{{i}}"><span class="badge" id="tallyMinor{{i}}"></span> Minor Violations</a></li>
      </ul>
      <div id="Critical{{i}}">
        {% for violation in violations %}
        {% if violation.violation_number <= 14 %}
        <a href="{{ url_for('violations_blueprint.show_single_violation', violation_number=violation.violation_number) }}"><p class="critial-violation{{i}}">{{ violation.violation_number }}. {{ violation.details }}</p></a>
        {% endif %}
        {% endfor %}
      </div>

      <div class="not-displayed" id="Serious{{i}}">
        {% for violation in violations %}
        {% if violation.violation_number >= 15 and violation.violation_number <= 29 %}
        <a href="{{ url_for('violations_blueprint.show_single_violation', violation_number=violation.violation_number) }}"><p class='serious-violation{{i}}'>{{ violation.violation_number }}. {{ violation.details }}</p></a>
        {% endif %}
        {% endfor %}
      </div>

      <div class="not-displayed" id="Minor{{i}}">
        {% for violation in violations %}
        {% if violation.violation_number >= 30 %}
        <a href="{{ url_for('violations_blueprint.show_single_violation', violation_number=violation.violation_number) }}"><p class="minor-violation{{i}}">{{ violation.violation_number }}. {{ violation.details }}</p></a>
        {% endif %}
        {% endfor %}
      </div>
    </div>


    <script>
          var tally = function(classSelector, outputIdSelector){
              console.log($(classSelector).lenght);
              $(outputIdSelector).text($(classSelector).length);
          }

          tally(".minor-violation{{i}}", "#tallyMinor{{i}}");
          tally(".serious-violation{{i}}", "#tallySerious{{i}}");
          tally(".critical-violation{{i}}", "#tallyCritical{{i}}");
    </script>
    <script>
        $(document).ready(function(){
          $('.level').click(function(clicked){
            var unWantedLevel = $('.active').children('a').attr('data-level');
            $(unWantedLevel).addClass('not-displayed');
            var wantedLevel = $(this).children('a').attr('data-level');
            $(wantedLevel).removeClass('not-displayed');

            $('.active').removeClass('active');
            $(this).addClass('active');
          });
        });
    </script>

{%- endmacro %}

{% macro inspection(inspection, i) -%}

    {{ inspection_info(inspection, i) }}

    {{ inspection_comments(inspection.comments, i) }}

    {{ violations(inspection.violations, i) }}

{%- endmacro %}
