
<div class="container">
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="{{ url_for('home_blueprint.show_home') }}">Food Inspections</a>
      <ul class="nav">
        <!-- <li><a href="">Inspections</a></li> -->
        <li><a href="{{ url_for('violations_blueprint.show_violations') }}">Violations</a></li>
        <!-- <li><a href="/branch">Branches</a></li> -->
        <li><a href="{{ url_for('resources_blueprint.show_resources') }}">Resources</a></li>
        <li><a href="http://www.vivelohoy.com/">Vivelohoy</a></li>
        <li><a href="http://www.vivelohoy.com/about-vivelohoy/">About Us</a></li>
        <li>
  <form class="navbar-form" action="{{ url_for('search_blueprint.search') }}" method="post">
    <div>
    <input type="text" placeholder="Search by name, keyword or zipcode..." name="main-data" class="input-medium search-query">
    <button type="submit" class="btn"><i class="icon-search"></i></button>
    </div>
  </form>
        </li>
      </ul>
    </div>
  </div>
</div>
